
@{
    Layout = null;
}

<div class="single-content">
    <div class="float_card float_card-default" style="width: 33%; margin-right: 1%;">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center">区县列表</h3>
                <div class="horizontal-group">
                    <input type="text" class="form-control" style="margin-right: 5px;" placeholder="输入希望添加的区县名称">
                    <input type="button" class="form-control btn btn-main" value="添加" style="width: 50px;"/>
                </div>
            </div>
        </div>
        <ul class="list-group area-group" style="margin-bottom: 0;">
            <li class="list-group-item">
                <span>长宁区</span>
            </li>
        </ul>
    </div>
    <div class="float_card float_card-default" style="width: 33%; margin-right: 1%;"></div>
    <div class="float_card float_card-default" style="width: 34%;"></div>
</div>