
@{
    Layout = null;
}

<div class="single-content">
    <div class="float-card float-card-default float-card-single">
        <div class="panel">
            <div class="panel-body">
                <div class="control-layer horizontal-group">
                    <span class="span80">企业查询：</span>
                    <input type="text" class="form-control control280"/>
                    <input type="button" class="btn btn-main" value="查询"/>
                    <input type="button" class="btn btn-main" value="增加"/>
                    <input type="button" class="btn btn-main" value="导出"/>
                </div>
                <div class="table-layer">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <td style="width: 2%;">
                                <input type="radio"/>
                            </td>
                            <td style="width: 35%;">
                                餐饮企业名称
                            </td>
                            <td style="width: 8%;">
                                企业编号
                            </td>
                            <td style="width: 5%;">
                                负责人
                            </td>
                            <td style="width: 8%;">
                                电话号码
                            </td>
                            <td style="width: 8%">
                                邮箱地址
                            </td>
                            <td style="width: 18%;">
                                详细地址
                            </td>
                            <td style="width: 8%;">
                                注册时间
                            </td>
                            <td style="width: 8%;">
                                操作
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/Page/CateringEnterprise.js"></script>