@{
    Layout = null;
}

<div class="single-content">
    <div class="float-card float-card-default float-card-single scroll-y">
        <div class="panel">
            <div class="panel-body">
                <div class="control-layer horizontal-group">
                    <span class="span60">区县：</span>
                    <select class="form-control" id="AreaGuid" style="width: 120px;"></select>
                    <span class="span60" style="margin-left: 10px;">街道：</span>
                    <select class="form-control" id="StreetGuid" style="width: 180px;">
                        <option value="0">全部</option>
                    </select>
                    <span class="span60" style="margin-left: 10px;">地址：</span>
                    <select class="form-control" id="AddressGuid" style="width: 180px;">
                        <option value="0">全部</option>
                    </select>
                    <span class="span80" style="margin-left: 10px;">设备名称：</span>
                    <input type="text" class="form-control" name="queryName" id="queryName" value="" style="width: 180px;" />
                    <input type="submit" class="btn btn-main" value="查询" id="deviceQuery"/>
                    <input type="button" class="btn btn-main" value="新增" id="add"/>
                    <input type="button" class="btn btn-main" value="导出" id="export"/>
                </div>
                <div class="table-layer">
                    @{
                        var table = Html.BootstrapTable(null, TablePaginationOption.server, new
                        {
                            id = "device_table",
                            data_page_size = 25,
                            data_reset_offset = true
                        });
                        var builder = table.Column("所属区县", "DistrictName")
                            .Column("所属酒店", "ProjectName")
                            .Column("设备名称", "DeviceName")
                            .Column("设备编号", "DeviceCode")
                            .Column("手机号", "Telephone")
                            .Column("出厂日期", "ProductionDateTime")
                            .Column("设备状态", "Status")
                            .Column("设备照片", "Photo")
                            .Column("说明", "Comment")
                            .Column("操作", "Operate")
                            .Apply(ColumnOption.width, "100")
                            .Apply(ColumnOption.formatter, "deviceOperateFormatter")
                            .Apply(ColumnOption.events, "deviceEvents");
                    }
                    @(builder)
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("SlideUp")

<script src="/Scripts/Page/RestaurantDevice.js"></script>