@{
    Layout = null;
}

<div class="single-content">
    <div class="float-card float-card-default float-card-single scroll-y">
        <div class="panel">
            <div class="panel-body">
                <div class="control-layer horizontal-group">
                    <span class="glyphicon glyphicon-phone-alt" style="font-size: 20px;"></span>
                    <span style="margin-left: 10px;">酒店（饭店）查询：</span>
                    <span class="span60">区县：</span>
                    <select class="form-control" id="AreaGuid" style="width: 120px;"></select>
                    <span class="span60" style="margin-left: 10px;">街道：</span>
                    <select class="form-control" id="StreetGuid" style="width: 180px;">
                        <option value="0">全部</option>
                    </select>
                    <span class="span60" style="margin-left: 10px;">地址：</span>
                    <select class="form-control" id="AddressGuid" style="width: 180px;">
                        <option value="0">全部</option>
                    </select>
                    <span class="span80" style="margin-left: 10px;">酒店名称：</span>
                    <input type="text" class="form-control" name="queryName" id="queryName" value="" style="width: 180px;" />
                    <input type="button" class="btn btn-main" value="查询" id="hotelQuery" />
                    <input type="button" class="btn btn-main" value="导出" id="export" />
                </div>
                <div class="table-layer">
                    @{
                        var table = Html.BootstrapTable(null, TablePaginationOption.server, new
                        {
                            id = "hotel_table",
                            data_page_size = 25,
                            data_reset_offset = true
                        });
                        var builder = table.Column("所属区县", "DistrictName")
                            .Column("酒店（饭店）名称", "ProjectName")
                            .Column("街道", "Street")
                            .Column("详细地址", "AddressDetail")
                            .Column("负责人", "ChargeMan")
                            .Column("联系电话", "Telephone")
                            .Column("营业时间", "Duration")
                            .Apply(ColumnOption.width, "120")
                            .Column("酒店状态", "Status")
                            .Column("注册时间", "RegisterDateTime")
                            .Apply(ColumnOption.width, "100")
                            .Column("操作", "Operate")
                            .Apply(ColumnOption.width, "100")
                            .Apply(ColumnOption.formatter, "hotelOperateFormatter")
                            .Apply(ColumnOption.events, "hotelEvents");
                    }
                    @(builder)
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("SlideUp")

<script src="/Scripts/Page/Hotel.js"></script>
