@using MvcWebComponents.Extensions
@using MvcWebComponents.Model
@model ViewModelBase
@{
    Layout = null;
}

<div style="border-bottom: 1px solid #e7e7e7; padding: 12px; font-size: 16px; color: #ff6f00;">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
    <span>系统菜单</span>
</div>
@{
    var modules = Model.Context.GetAuthorizedModules();
    foreach (var menu in modules.Where(menu => menu.ModuleLevel == 1 && menu.IsMenu))
    {
        <div class="main-menu-item">
            <span class="@menu.IconString" aria-hidden="true"></span>
            <span>@menu.ModuleName</span>
        </div>
        <div class="sub-menu">
            @{
                foreach (var subMenu in modules.Where(subMenu => subMenu.ParentModuleId == menu.Id && subMenu.IsMenu))
                {
                    <div class="sub-menu-item">
                        @Ajax.InnerElementActionLink($"<span class='glyphicon glyphicon-play'></span>  <span>{subMenu.ModuleName}</span>",
                       subMenu.Action, subMenu.Controller, null,
                       new AjaxOptions()
                       {
                           UpdateTargetId = "body-content",
                           InsertionMode = InsertionMode.Replace,
                           HttpMethod = "GET"
                       })
                    </div>
                }
            }
        </div>
                }
}