
@{
    Layout = null;
}

<div class="mask" id="mask"></div>
<div class="slide-up slide-up-hide" id="slide-up">
    <div class="slide-up-title">
        <span class="glyphicon glyphicon-remove close-span"></span>
    </div>
    <div class="panel">
        <div class="panel-body slide-up-content">
        </div>
    </div>
</div>
<script src="/Scripts/Component/SlideUp.js"></script>