@{
    Layout = null;
}

<div class="single-content">
    <div class="float-card float-card-default float-card-single scroll-y">
        <div class="panel">
            <div class="panel-body">
                <div class="control-layer horizontal-group">
                    <span class="span60">区县：</span>
                    <select class="form-control" id="AreaGuid" style="width: 120px;"></select>
                    <span class="span60" style="margin-left: 10px;">街道：</span>
                    <select class="form-control" id="StreetGuid" style="width: 180px;">
                        <option value="0">全部</option>
                    </select>
                    <span class="span60" style="margin-left: 10px;">地址：</span>
                    <select class="form-control" id="AddressGuid" style="width: 180px;">
                        <option value="0">全部</option>
                    </select>
                    <span class="span80" style="margin-left: 10px;">酒店名称：</span>
                    <input type="text" class="form-control" name="queryName" id="queryName" value="" style="width: 180px;" />
                    <input type="button" class="btn btn-main" value="查询" id="actualQuery" />
                    <input type="button" class="btn btn-main" value="导出" id="export" />
                </div>
                <div class="table-layer">
                    @{ var table = Html.BootstrapTable(null, TablePaginationOption.server, new
                        {
                            id = "actual_status",
                            data_page_size = 25
                        });
                        var builder = table.Column("酒店（饭店）名称", "ProjectName")
                                           .Column("设备编码", "DeviceCode")
                                           .Column("通道号", "Channel")
                                           .Column("清洁度", "CleanRate")
                                           .Column("净化器状态", "CleanerStatus")
                                           .Apply(ColumnOption.formatter, "statusFormatter")
                                           .Column("风机状态", "FanStatus")
                                           .Apply(ColumnOption.formatter, "statusFormatter")
                                           .Column("净化器电流", "CleanerCurrent")
                                           .Column("监测时间", "RecordDateTime");
                    }
                    @(builder)
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("SlideUp")

<script src="/Scripts/Page/Actual.js"></script>