@{
    Layout = null;
}

<div class="single-content">
    <div id="mapContainer" class="float-card" style="width: 74%; height: 100%; margin-right: 1%;">

    </div>
    <div id="searchTable" class="panel panel-default float-card" style="width: 25%;">
        @{ Html.RenderAction("MapHotel");}
    </div>
</div>

<script src="/Scripts/Common/MapManipulation.js"></script>
<script src="/Scripts/Page/Map.js"></script>