body {
    font-family: "Segoe UI", "Microsoft YaHei", Helvetica,sans-serif,"simsun";
    font-size: 14px;
}

input,button,textarea,keygen,select {
    font-family:"Segoe UI", "Microsoft YaHei", Helvetica,sans-serif,"simsun";
}

.text-danger {
    color: #ce352c;
}

.bg-login {
    background-image: radial-gradient(circle farthest-side at center top, #55e7ca 0, #1abc9c 100%);
}

.login-form {
    background-color: #fff;
    padding: 10px;
}

.section-title h4 {
    color: #1abc9c;
}

.field-validation-error {
    color: #ce352c;
}

.app-bar.default {
  background-image: radial-gradient(circle farthest-side at center top, #55e7ca 0, #1abc9c 100%);
}

.app-bar-bottom {
    padding: 10px 0 0 10px;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #c8c8c8;
    border-top: 3px solid rgb(255, 175,0);
}

.logo {
    vertical-align: top;
    display: inline-block;
    height: 100%;
    padding: 5px;
    text-align: center;
}

.footer {
    border-top: 1px solid #e7e7e7;
    padding: 15px 15px 0 15px;
}

    .footer p {
        text-align: center;
    }