@{
    Layout = null;
}

<div class="single-content">
    <div class="float-card float-card-default float-card-single scroll-y">
        <div class="panel">
            <div class="panel-body">
                <div class="control-layer horizontal-group">
                    <span class="glyphicon glyphicon-bell" style="font-size: 20px;"></span>
                    <span style="margin-left: 10px;" class="span100">报警查询：</span>
                    <input type="button" class="btn btn-main" value="查询" id="query" />
                    <input type="button" class="btn btn-main" value="导出" id="export" />
                </div>
                <div class="table-layer">
                    @{ var table = Html.BootstrapTable(null, TablePaginationOption.server, new
                       {
                           id = "alarm_table",
                           data_page_size = 50,
                           data_query_params = "alarmParams",
                           data_reset_offset = true
                       });
                        var builder = table.Column("所属区县", "DistrictName")
                            .Column("酒店（饭店）名称", "HotelName")
                            .Column("设备编码", "DeviceName")
                            .Column("报警类型", "AlarmType")
                            .Column("报警数据", "AlarmValue")
                            .Column("报警时间", "DateTime");
                    }
                    @(builder)
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/Page/Alarm.js"></script>