@{
    Layout = null;
}

<div class="single-content">
    <div class="float-card float-card-default float-card-single scroll-y">
        <div class="panel">
            <div class="panel-body">
                <div class="control-layer horizontal-group">
                    <span class="glyphicon glyphicon-dashboard" style="font-size: 20px;"></span>
                    <span style="margin-left: 10px;" class="span100">运行时间查询：</span>
                    <label for="StartDateTime">开始时间：</label>
                    <input type="text" id="StartDateTime" name="StartDateTime" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" class="form-control control120" />
                    <label for="EndDateTime">结束时间：</label>
                    <input type="text" id="EndDateTime" name="EndDateTime" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control control120" />
                </div>
                <div class="control-layer horizontal-group">
                    <span class="span60">区县：</span>
                    <select class="form-control" id="AreaGuid" style="width: 120px;"></select>
                    <span class="span60" style="margin-left: 10px;">街道：</span>
                    <select class="form-control" id="StreetGuid" style="width: 180px;">
                        <option value="0">全部</option>
                    </select>
                    <span class="span60" style="margin-left: 10px;">地址：</span>
                    <select class="form-control" id="AddressGuid" style="width: 180px;">
                        <option value="0">全部</option>
                    </select>
                    <span class="span80" style="margin-left: 10px;">酒店名称：</span>
                    <input type="text" class="form-control" name="queryName" id="queryName" value="" style="width: 180px;" />
                    <input type="submit" class="btn btn-main" value="查询" id="runningTimeQuery" />
                    <input type="button" class="btn btn-main" value="导出" id="export" />
                </div>
                <div class="table-layer">
                    @{
                        var table = Html.BootstrapTable(null, TablePaginationOption.server, new
                        {
                            id = "running_time",
                            data_page_size = 25,
                            data_reset_offset = true
                        });
                        var builder = table.Column("所属区县", "DistrictName")
                            .Column("酒店（饭店）名称", "ProjectName")
                            .Column("设备名称", "DeviceName")
                            .Column("终端运行时间", "DeviceRunningTime")
                            .Column("净化器运行时间", "CleanerRunningTime")
                            .Column("风机运行时间", "FanRunningTime");
                    }
                    @(builder)
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/Page/RunningTime.js"></script>