@using Lampblack_Platform.Models.Home
@model IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-content">
    <div class="float-card float-card-default" style="width: 39%; margin-right: 1%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="text-center text-main-reverse">实时清洁度分布</h5>
            </div>
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="float-card float-card-default" style="width: 60%;"></div>
</div>