<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IInsertBaseInfoServiceSoapBinding"/>
                <binding name="IInsertDeviceBaseInfoServiceSoapBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://101.230.224.77:8075/webservice/services/addEnterBaseInfo" binding="basicHttpBinding" bindingConfiguration="IInsertBaseInfoServiceSoapBinding" contract="AddEnterBaseInfo.IInsertBaseInfo" name="IInsertBaseInfoPort"/>
            <endpoint address="http://101.230.224.77:8075/webservice/services/insertDeviceBaseInfo" binding="basicHttpBinding" bindingConfiguration="IInsertDeviceBaseInfoServiceSoapBinding" contract="InsertDeviceBaseInfo.IInsertDeviceBaseInfo" name="IInsertDeviceBaseInfoPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
