<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="dbcon" value="Data Source=d:\App_Data\Transfer.sqlite3;Version=3;"/>
    <add key="serverIp" value="139.224.105.103"/>
    <add key="serverPort" value="18254"/>
    <add key="clientIp" value="39.224.105.103"/>
    <add key="clientPort" value="6051"/>
  </appSettings>
  <log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--UDP写日志-->
    <appender name="udpAppender8080" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="127.0.0.1" />
      <param name="RemotePort" value="8080" />
      <layout type="log4net.Layout.XmlLayout">
        <param name="Prefix" value="" />
      </layout>
    </appender>

    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <param name="File" value="D:/LOG/log4netfile.txt" />

      <param name="BufferSize" value="1" />

      <param name="AppendToFile" value="true" />
      <!-- 切割最多文件数 -->
      <param name="MaxSizeRollBackups" value="1000" />
      <!-- 每个文件的大小 -->
      <param name="MaximumFileSize" value="1MB" />
      <!--按照文件的大小进行变换日志文件-->
      <param name="RollingStyle" value="Size" />
      <!--日志文件名是否为静态-->
      <param name="StaticLogFileName" value="true" />

      <!-- 序号小的为最早 -->
      <param name="CountDirection" value="1" />

      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />

      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="" />
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%n-------------------%n记录时间：%date 线程ID:[%thread] %n日志级别：%-5level 类：%logger property:[%property{NDC}] - %n描述：%message%newline %n%n%n" />
      </layout>

      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="ERROR" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="WARN" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="Fatal" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />

    </appender>


    <!--定义输出到文件中-->
    <appender name="LogInfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <param name="File" value="D:/LOG/dbinfo.txt" />

      <param name="BufferSize" value="1" />

      <param name="AppendToFile" value="true" />
      <!-- 切割最多文件数 -->
      <param name="MaxSizeRollBackups" value="1000" />
      <!-- 每个文件的大小 -->
      <param name="MaximumFileSize" value="10MB" />
      <!--按照文件的大小进行变换日志文件-->
      <param name="RollingStyle" value="Size" />
      <!--日志文件名是否为静态-->
      <param name="StaticLogFileName" value="true" />

      <!-- 序号小的为最早 -->
      <param name="CountDirection" value="1" />

      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />

      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="" />
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="::%date$$ %message%newline" />
      </layout>

      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />

    </appender>


    <logger name="Memcached.ClientLibrary" additivity="false">
      <level value="OFF" />
    </logger>

    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="LogInfoFileAppender" />
      <appender-ref ref="udpAppender8080" />
    </root>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>
