@using MvcWebComponents.Extensions
@model Lampblack_Platform.Models.System.HuangputPlatfromEditViewModel

@{
    Layout = null;
}

@using (Ajax.BeginForm("EditHuangpuPlatfrom", null, new AjaxOptions
{
    UpdateTargetId = "slide-up-content",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}.GeneralOptions(), new { id = "editHuangpuPlatfrom" }))
{
    <div>
        @Html.HiddenFor(m => m.DomainId)
    </div>
    <table class="table table-bordered table-striped text-right">
        <colgroup style="width: 30%; line-height: 35px;"></colgroup>
        <colgroup style="width: 70%"></colgroup>
        <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.ShortCode)</td>
                <td>
                    @Html.TextBoxFor(m => m.ShortCode, new { @class = "form-control", placeholder = "请输入简码" })
                </td>
            </tr>
            <tr class="text-center">
                <td><input type="submit" class="btn btn-main" value="提交" style="margin: auto;" /></td>
                <td><input type="button" class="btn btn-main" value="重置" style="margin: auto;" id="reset" /></td>
            </tr>
        </tbody>
    </table>
}
