* {
    border-radius: 0 !important;
}

body {
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"simsun";
}

.body-content {
    min-height: 660px;
    overflow: auto;
    display: flex;
}

.container {
    width: 100%;
    padding: 15px;
}

ul {
    list-style: none;
}

.topheadnav {
    border: 0;
    background-color: #1abc9c;
    background-image: radial-gradient(circle farthest-side at center top, #55e7ca 0, #1abc9c 100%);
    border-bottom: 3px solid rgb(255, 175, 0);
}

.navbar {
    margin-bottom: 0;
}

.sidebar {
    height: 100%;
    width: 220px;
}

.footer {
    border-top: 1px solid #e7e7e7;
    padding: 15px 15px 0 15px;
}

    .footer p {
        text-align: center;
    }