* {
    border-radius: 0 !important;
}

body {
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"simsun";
}

.body-content {
    width: 100%;
    overflow: auto;
    border-left: 1px solid #e7e7e7;
}

.container {
    width: 100%;
    padding: 15px;
}

ul {
    list-style: none;
}

.topheadnav {
    border: 0;
    /*background-color: #1abc9c;
    background-image: radial-gradient(circle farthest-side at center top, #55e7ca 0, #1abc9c 100%);*/
    /*border-bottom: 1px solid rgb(255, 175, 0);*/
    border-bottom: 1px solid #e7e7e7;
}

.navbar {
    margin-bottom: 0;
}

.wapper {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 660px;
}

.nav-container {
    height: 30px;
    border-bottom: 1px solid #e7e7e7;
    padding: 5px 15px;
}

.main-container {
    padding: 15px;
}

.sidebar {
    height: 100%;
    min-width: 180px;
}

.footer {
    border-top: 1px solid #e7e7e7;
    padding: 15px 15px 0 15px;
}

    .footer p {
        text-align: center;
    }

.main-menu-item {
    cursor: pointer;
    padding: 12px;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.1s ease;
}

    .main-menu-item.active {
        background-color: #0cf;
        color: #cf0;
    }

    .main-menu-item:hover {
        background-color: #0cf;
        color: #cf0;
    }

    .main-menu-item.active .sub-menu {
        display: block;
    }

.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

    .sub-menu.active {
        height: auto;
        max-height: 500px;
        display: block;
        transition: max-height 0.5s ease-in;
    }

.sub-menu-item a {
    cursor: pointer;
    display: block;
    padding: 8px 12px 8px 30px;
    text-align: left;
    font-size: 14px;
    color: #000;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    transition: background-color 0.3s ease, color 0.1s ease;
}

    .sub-menu-item a:hover {
        background-color: #0cf;
        color: #000;
        text-decoration: none;
        color: #cf0;
    }
