* {
    border-radius: 0 !important;
}

body {
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"simsun";
}

.body-content {
    width: 100%;
    border-left: 1px solid #e7e7e7;
    background-color: #f0f0f0;
    overflow: hidden;
    overflow-y: auto;
    padding: 12px;
}

.siteMap {
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    box-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.2)
}

ul {
    list-style: none;
}

.topheadnav {
    border: 0;
    border-bottom: 1px solid #ff6f00;
}

.topheadnav ul.nav {
    margin-right: 30px;
}

.topheadnav .navbar-right {
    margin: 0;
}

.navbar {
    margin-bottom: 0;
    background-color: #33CEC3;
}

.navbar-brand {
    color: #fff !important;
    font-size: 24px;
}

.logout-form a span {
    color: #fff;
}

.wapper {
    position: absolute;
    top: 51px;
    bottom: 0;
    display: flex;
    width: 100%;
}

.nav-container {
    height: 30px;
    border-bottom: 1px solid #e7e7e7;
    padding: 5px 15px;
}

.sidebar {
    height: 100%;
    min-width: 180px;
}

.footer {
    border-top: 1px solid #e7e7e7;
    padding: 15px 15px 0 15px;
}

    .footer p {
        text-align: center;
    }

.main-menu-item {
    cursor: pointer;
    padding: 12px;
    text-align: left;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.1s ease;
}

    .main-menu-item.active {
        background-color: #33CEC3;
        color: #fff;
    }

    .main-menu-item:hover {
        background-color: #33CEC3;
        color: #fff;
    }

    .main-menu-item.active .sub-menu {
        display: block;
    }

.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

    .sub-menu.active {
        height: auto;
        max-height: 500px;
        display: block;
        transition: max-height 0.5s ease-in;
    }

.sub-menu-item a {
    cursor: pointer;
    display: block;
    padding: 8px 12px 8px 30px;
    text-align: left;
    font-size: 14px;
    color: #333;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    transition: background-color 0.3s ease, color 0.1s ease;
}

    .sub-menu-item a:hover {
        background-color: #33CEC3;
        color: #000;
        text-decoration: none;
        color: #fff;
    }

    .sub-menu-item a:link {
        text-decoration: none;
    }

.float_card {
    box-shadow: 0 2px 6px #fafafa;
    box-shadow: 0 2px 6px rgba(250, 250, 250, 0.3);
    transition: box-shadow 0.3s ease;
    margin: 0;
    min-height: 720px;
}

label {
    color: #333;
}

.lbl-white {
    color: #fff;
}

.float_card:hover {
    box-shadow: 0 2px 6px #000000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.40);
}

.lbl60 {
    width: 60px;
    min-width: 60px;
}

.horizontal-group {
    display: flex;
    margin-bottom: 5px;
}

.horizontal-group label {
    margin: auto;
}

.btn-main {
    color: #fff;
    background-color: #ff6f00;
    border-color: #d16e00
}

.btn-main:hover {
    color: #fff;
    background-color: #dd6f00;
    border-color: #d16e00
}

.table-head {
    font-weight: bold;
    color: #fff;
    background-color: #33cec3
}