<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Wd_Cloud_Platfrom" connectionString="Data Source=(local); Database=Wd_Cloud_Platfrom; User ID=sa; Password=juli#406; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerAddress" value="127.0.0.1"/>
    <add key="ServerPort" value="18254"/>
    <!--下面是用来开发阶段修改数据库的-->
    <!--<add key="DatabaseInitializerForType SHWD.Platform.Repository.Entities.RepositoryDbContext, SHWDTech.Platform.Repository" 
         value="SHWD.Platform.Repository.Entities.DevelopInitializer, SHWDTech.Platform.Repository" />-->
    <!--下面是用来创建初始数据库的-->
    <add key="DatabaseInitializerForType SHWD.Platform.Repository.Entities.RepositoryDbContext, SHWDTech.Platform.Repository" 
         value="SHWD.Platform.Repository.Entities.InitProjectInitializer, SHWDTech.Platform.Repository" />
  </appSettings>
</configuration>