<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <interceptors>
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <parameter value="D:\Log\SqlOutputDevelop_AdminToolsProtocol.txt" />
        </parameters>
      </interceptor>
    </interceptors>
  </entityFramework>
  <connectionStrings>
    <!--<add name="Wd_Cloud_Platfrom" connectionString="Data Source=(local); Database=Wd_Cloud_Platfrom; User ID=sa; Password=juli#406; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="Lampblack_Platform" connectionString="Data Source=139.224.105.103; Database=Lampblack_Platform; User ID=sa; Password=juli#406; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerAddress" value="192.168.1.105" />
    <add key="ServerPort" value="18254" />
    <add key="TcpBufferSize" value="4096" />
    <add key="ServerAccount" value="CommnicationServer" />
    <add key="CommandMessageQueueCategory" value="CommandRequest" />
    <add key="DeviceConnectionChevkInterval" value="60000" />
    <add key="DeviceDisconnectInterval" value="240" />
    <!-- 扬尘数据库-->
    <!--下面是用来开发阶段修改数据库的-->
    <!--<add key="DatabaseInitializerForType SHWD.Platform.Repository.Entities.RepositoryDbContext, SHWDTech.Platform.Repository" 
         value="SHWDTech.Platform.ProjectDataInitializer.PlatFormDevelopInitializer, SHWDTech.Platform.ProjectDataInitializer" />-->
    <!--下面是用来创建初始数据库的-->
    <!--<add key="DatabaseInitializerForType SHWD.Platform.Repository.Entities.RepositoryDbContext, SHWDTech.Platform.Repository" 
         value="SHWDTech.Platform.ProjectDataInitializer.PlatFormInitProjectInitializer, SHWDTech.Platform.ProjectDataInitializer" />-->

    <!-- 油烟数据库-->
    <!--下面是用来开发阶段修改数据库的-->
    <!--<add key="DatabaseInitializerForType SHWD.Platform.Repository.Entities.RepositoryDbContext, SHWDTech.Platform.Repository" 
         value="SHWDTech.Platform.ProjectDataInitializer.LampBlackDevelopInitializer, SHWDTech.Platform.ProjectDataInitializer" />-->
    <!--下面是用来创建初始数据库的-->
    <!--<add key="DatabaseInitializerForType SHWD.Platform.Repository.Entities.RepositoryDbContext, SHWDTech.Platform.Repository" 
         value="SHWDTech.Platform.ProjectDataInitializer.LampBlackInitProjectInitializer, SHWDTech.Platform.ProjectDataInitializer" />-->
  
  <!-- 昆山扬尘数据库-->
    <!--下面是用来开发阶段修改数据库的-->
    <!--<add key="DatabaseInitializerForType SHWD.Platform.Repository.Entities.RepositoryDbContext, SHWDTech.Platform.Repository" 
         value="SHWDTech.Platform.ProjectDataInitializer.KsDustDevelopInitializer, SHWDTech.Platform.ProjectDataInitializer" />-->
    <!--下面是用来创建初始数据库的-->
    <!--<add key="DatabaseInitializerForType SHWD.Platform.Repository.Entities.RepositoryDbContext, SHWDTech.Platform.Repository" 
         value="SHWDTech.Platform.ProjectDataInitializer.KsDustInitializer, SHWDTech.Platform.ProjectDataInitializer" />-->
  </appSettings>
  <log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--UDP写日志-->
    <appender name="udpAppender8080" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="127.0.0.1" />
      <param name="RemotePort" value="8080" />
      <layout type="log4net.Layout.XmlLayout">
        <param name="Prefix" value="" />
      </layout>
    </appender>

    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <param name="File" value="D:/LOG/log4netfile.txt" />

      <param name="BufferSize" value="1" />

      <param name="AppendToFile" value="true" />
      <!-- 切割最多文件数 -->
      <param name="MaxSizeRollBackups" value="1000" />
      <!-- 每个文件的大小 -->
      <param name="MaximumFileSize" value="1MB" />
      <!--按照文件的大小进行变换日志文件-->
      <param name="RollingStyle" value="Size" />
      <!--日志文件名是否为静态-->
      <param name="StaticLogFileName" value="true" />

      <!-- 序号小的为最早 -->
      <param name="CountDirection" value="1" />

      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />

      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="" />
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%n-------------------%n记录时间：%date 线程ID:[%thread] %n日志级别：%-5level 类：%logger property:[%property{NDC}] - %n描述：%message%newline %n%n%n" />
      </layout>

      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="ERROR" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="WARN" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="Fatal" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />

    </appender>


    <!--定义输出到文件中-->
    <appender name="LogInfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <param name="File" value="D:/LOG/dbinfo.txt" />

      <param name="BufferSize" value="1" />

      <param name="AppendToFile" value="true" />
      <!-- 切割最多文件数 -->
      <param name="MaxSizeRollBackups" value="1000" />
      <!-- 每个文件的大小 -->
      <param name="MaximumFileSize" value="10MB" />
      <!--按照文件的大小进行变换日志文件-->
      <param name="RollingStyle" value="Size" />
      <!--日志文件名是否为静态-->
      <param name="StaticLogFileName" value="true" />

      <!-- 序号小的为最早 -->
      <param name="CountDirection" value="1" />

      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />

      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="" />
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="::%date$$ %message%newline" />
      </layout>

      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />

    </appender>


    <logger name="Memcached.ClientLibrary" additivity="false">
      <level value="OFF" />
    </logger>

    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="LogInfoFileAppender" />
      <appender-ref ref="udpAppender8080" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>