<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!--
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    -->


    <!--
    别名注册
    <alias alias="ILogger" type="MyApp.ILogger, MyApp" />
    
    搜索路径
    <namespace name="MyApp.Implementations" />
    <assembly name="MyApp" />-->

    <assembly name="SHWDTech.Platform.ClssicCommandCoding" />
    <namespace name="SHWDTech.Platform.ClssicCommandCoding" />

    <container>

      <!--
      <extension type="Interception" />

      <extension type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension,Microsoft.Practices.EnterpriseLibrary.Common" />
      -->

      <register type="ICommandCoding" name="Classic" mapTo="ClassicCommandCoding" />

    </container>

  </unity>

</configuration>