<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<unity
		xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<!--
		<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
		-->
		<!--
		别名注册
		<alias alias="ILogger" type="MyApp.ILogger, MyApp" />
		
		搜索路径
		<namespace name="MyApp.Implementations" /><assembly name="MyApp" />-->
		<assembly name="SHWDTech.Platform.ProtocolCoding" />
		<assembly name="SHWDTech.Platform.ClassicCommandCoding" />
		<assembly name="SHWDTech.Platform.LampblackCommandCoding" />
		<assembly name="SHWDTech.Platform.NationalEnviromentCommandCoder" />
		<assembly name="SHWDTech.Platform.ChargingPileCommandCoder" />

		<namespace name="SHWDTech.Platform.ProtocolCoding" />
		<namespace name="SHWDTech.Platform.ProtocolCoding.Command" />
		<namespace name="SHWDTech.Platform.ProtocolCoding.Coding" />
		<namespace name="SHWDTech.Platform.ProtocolCoding.Command" />
		<namespace name="SHWDTech.Platform.ClassicCommandCoding" />
		<namespace name="SHWDTech.Platform.LampblackCommandCoding" />
		<namespace name="SHWDTech.Platform.NationalEnviromentCommandCoder" />
		<namespace name="SHWDTech.Platform.ChargingPileCommandCoder" />
		<namespace name="SHWDTech.Platform.ProtocolCoding.Generics"/>
		<container>
			<!--
			<extension type="Interception" /><extension type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension,Microsoft.Practices.EnterpriseLibrary.Common" />
			-->
			<register type="ICommandCoder" name="Classic" mapTo="ClassicCommandCoder" />
			<register type="ICommandCoder" name="Lampblack" mapTo="LampblackCommand" />
			<register type="ICommandCoder" name="Nep" mapTo="NationalEnviromentCommandCoder" />
			<register type="ICommandCoder" name="NA001" mapTo="ChargingPileCommandCoder" />
		</container>
	</unity>
</configuration>